<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-styles/typography.html">
<link rel="import" href="../bower_components/pushstate-anchor/pushstate-anchor.html">
<link rel="import" href="../bower_components/app-router/app-router.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="lq-navigation.html">

<dom-module id="lq-app">
  <link rel="stylesheet" href="css/lq-app.css">
  <template>
    <lq-navigation id="navigation"></lq-navigation>
    <app-router mode="hash" id="router">
      <app-route path="/" import="/components/lq-home.html"></app-route>
      <app-route path="/home" import="/components/lq-home.html"></app-route>
      <app-route path="/signup" import="/components/lq-signup.html"></app-route>
      <app-route path="/login" import="/components/lq-login.html"></app-route>
      <app-route path="/quest" import="/components/lq-quests.html"></app-route>
      <app-route path="/user" import="/components/summoner-summary.html"></app-route>
      <app-route path="/settings" import="/components/lq-settings.html"></app-route>
    </app-router>
    <iron-localstorage id="authStorage" name="isAuthenticated" value="{{isAuthenticated}}"></iron-localstorage>
  </template>
</dom-module>

<script>
  Polymer({
    is: 'lq-app',
    properties: {
      isAuthenticated: {
        type: Boolean,
        notify: true
      }
    },
    ready: function() {
      document.querySelector('#router').addEventListener('state-change', this.stateChange.bind(this));
    },
    stateChange: function(e) {
      console.log('test');
      this.$.navigation.fire('stateChange', e.detail);

    },
  });
</script>
