<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<dom-module is="lq-ajax">
  <template>
    <iron-ajax id="ironAjax" url="{{url}}" method="post" on-response="handleResponse" handle-as="json"></iron-ajax>
  </template>
</dom-module>

<script>
  Polymer({
    is: "lq-ajax",
    properties: {
      url: String,
      cache: String
    },
    generateRequest: function() {
      var isAuthenticated = JSON.parse(localStorage.getItem('isAuthenticated'));
      if (isAuthenticated != null && isAuthenticated === true) {
        if (this.cache != null) {
          var cachedItem = JSON.parse(localStorage.getItem(this.cache));
          if (cachedItem == null || isExpired(cachedItem))
            this.$.ironAjax.generateRequest();
          else
            this.fire('response', cachedItem);
        } else {
          this.$.ironAjax.generateRequest();
        }
      } else {
        console.log('isAuth is false?');
        // document.querySelector('app-router').go('/');
      }
    },
    handleResponse: function(r) {
      var parsedResponse = r.detail.response;
      r.stopPropagation();
      r.preventDefault();
      this.fire('response', parsedResponse);
    }
  });


  function isExpired(obj) {
    if (obj != null) {
      var objDate = new Date(obj.date);
      var thirtyMinutesAgo = new Date(new Date() - 30 * 60000);
      if (objDate <= thirtyMinutesAgo) {
        return true;
      }
    }
    return false;
  }
</script>
