<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="lq-ajax.html">
<link rel="import" href="../bower_components/paper-material/paper-material.html">
<dom-module id="lq-home">
  <link rel="import" type="css" href="css/lq-home.css">
  <template>
    <paper-material class="container" elevation="3">
      <p>This is a home page</p>
    </paper-material>
  </template>
</dom-module>

<script>
  Polymer({
    is: 'lq-home',
    ready: function() {},
    handleResponse: function(r) {
      console.log(r);
    },

  });
</script>
