<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="lq-ajax.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../bower_components/paper-material/paper-material.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/paper-progress/paper-progress.html">
<link rel="import" href="../bower_components/paper-styles/paper-styles.html">

<dom-module id="lq-quests">
  <link rel="stylesheet" href="css/lq-quests.css">
  <template>
    <template is="dom-if" if="{{contentLoaded}}">
      <paper-material class="quest" elevation="2">
        <div>
          <h2>Title</h2>
          <span>{{quests.quest.title}}</span>
        </div>
        <div>
          <h2>Description:</h2>
          <span>{{quests.quest.description}}</span>
        </div>
        <div>
          <h2>Points:</h2>
          <span>{{quests.quest.points}}</span>
        </div>
        <template is="dom-repeat" items="{{quests.progress}}">
          <h4>
            <div>
              <span>{{item.objective}}</span>:
              <span>{{item.value}}</span>/
              <span>0</span>
            </div>
          </h4>
        </template>
      </paper-material>
    </template>

    <template is="dom-if" if="{{!contentLoaded}}">
      <paper-progress indeterminate alue="800" min="100" max="1000" class="blue" value="100"></paper-progress>
    </template>
    <lq-ajax id="questAjax" url="/quest/getQuest" on-response="handleQuestResponse"></lq-ajax>
    <iron-localstorage name="matchHistoryStorage" value="matchHistory"></iron-localstorage>
    <iron-localstorage name="questStorage" value="{{quests}}"></iron-localstorage>
    <iron-localstorage name="summonerStorage" value="{{summoner}}"></iron-localstorage>
  </template>
</dom-module>
<script>
  Polymer({
    is: 'lq-quests',
    properties: {
      summoner: {
        type: Object,
        notify: true
      },
      quests: {
        type: Object,
        notify: true
      },
      contentLoaded: {
        type: Boolean,
        notify: true
      }
    },
    ready: function() {
      this.contentLoaded = false;
      this.$.questAjax.generateRequest();
      // this.$.summaryAjax.generateRequest();
    },
    handleQuestResponse: function(r) {
      this.quests = r.detail;
      console.log(this.quests);
      this.contentLoaded = true;
    },
    handleSummonerResponse: function(r) {
      var summoner = r.detail;
      this.summoner = summoner;
      this.contentLoaded = true;
      this.$.rankedSelector.focus();
      this.$.rankedSelector.blur();
    },
  });
</script>
