<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../bower_components/paper-material/paper-material.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/paper-progress/paper-progress.html">
<link rel="import" href="../bower_components/paper-styles/paper-styles.html">
<link rel="import" href="../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="lq-ajax.html">
<link rel="import" href="lq-quest.html">

<dom-module id="lq-quests">
  <link rel="import" type="css" href="css/lq-quests.css">
  <template>
    <template is="dom-if" if="{{contentLoaded}}">
      <paper-material id="questList" elevation="4" class="quest-list">
        <div elevation="3" hidden$="{{isEmpty(1)}}">
          <h2>Active Quests</h2>
          <template is="dom-repeat" items="{{quests}}">
            <lq-quest hidden$="{{item.complete}}" quest="{{item}}"></lq-quest>
          </template>
        </div>
        <div elevation="3" hidden$="{{isEmpty(0)}}">
          <h2>Completed Quests</h2>
          <template is="dom-repeat" items="{{quests}}">
            <lq-quest hidden$="{{!item.complete}}" quest="{{item}}"></lq-quest>
          </template>
        </div>
      </paper-material>
    </template>
    <template is="dom-if" if="{{!contentLoaded}}">
      <paper-progress indeterminate alue="800" min="100" max="1000" class="blue" value="100"></paper-progress>
    </template>
    <lq-ajax id="questAjax" url="/quest/getQuests" cache="questStorage" on-response="handleQuestResponse"></lq-ajax>
    <!-- <lq-ajax id="questAjax" url="/quest/checkStatus" on-response="handleQuestResponse"></lq-ajax> -->
    <iron-localstorage name="matchHistoryStorage" value="matchHistory"></iron-localstorage>
    <iron-localstorage name="questStorage" value="{{quests}}"></iron-localstorage>
    <iron-localstorage name="summonerStorage" value="{{summoner}}"></iron-localstorage>
    <paper-fab mini icon="refresh" on-click="refreshContent" style="position: fixed; bottom: 5px; right: 5px;"></paper-fab>
  </template>
</dom-module>
<script>
  Polymer({
    is: 'lq-quests',
    properties: {
      summoner: {
        type: Object,
        notify: true
      },
      quests: {
        type: Array,
        notify: true
      },
      contentLoaded: {
        type: Boolean,
        notify: true
      }
    },
    ready: function() {
      this.contentLoaded = false;
      this.$.questAjax.generateRequest();
      // this.$.summaryAjax.generateRequest();
    },
    isEmpty: function(isComplete) {
      if (this.quests != null) {
        if (isComplete === 0) {
          isComplete = true;
        } else {
          isComplete = false;
        }
        var completedQuests = false;
        var inProgressQuests = false;
        for (var i = 0; i < this.quests.length; i++) {
          console.log(this.quests[i].complete !== isComplete);
          if (this.quests[i].complete) {
            completedQuests = true;
          } else {
            inProgressQuests = true;
          }
        }
        if (isComplete && completedQuests) {
          return false;
        } else if (!isComplete && inProgressQuests) {
          return false;
        } else {
          return true;
        }
      } else {
        return true;
      }
    },
    refreshContent: function() {
      this.contentLoaded = false;
      // this.set('quests', null);
      this.$.questAjax.generateRequest(true);
    },
    handleQuestResponse: function(r) {
      this.set('quests', r.detail.quests);
      this.contentLoaded = true;
    },
  });
</script>
