<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="lq-ajax.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../bower_components/paper-material/paper-material.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/paper-progress/paper-progress.html">
<link rel="import" href="../bower_components/paper-styles/paper-styles.html">

<dom-module id="lq-quests">
  <link rel="stylesheet" href="css/lq-quests.css">
  <template>
    <template is="dom-if" if="{{contentLoaded}}">
      <paper-material id="container" elevation="2">

      </paper-material>
    </template>

    <template is="dom-if" if="{{!contentLoaded}}">
      work in progress
      <paper-progress indeterminate alue="800" min="100" max="1000" class="blue" value="100"></paper-progress>
    </template>
    <lq-ajax id="questAjax" url="/api/getPlayerSummary" cache="questStorage" on-response="handleQuestResponse"></lq-ajax>
    <iron-localstorage name="matchHistoryStorage" value="matchHistory"></iron-localstorage>
    <iron-localstorage name="questStorage" value="{{quests}}"></iron-localstorage>
    <iron-localstorage name="summonerStorage" value="{{summoner}}"></iron-localstorage>
  </template>
</dom-module>
<script>
  Polymer({
    is: 'lq-quests',
    properties: {
      summoner: {
        type: Object,
        notify: true
      },
      quests: {
        type: Object,
        notify: true
      },
      contentLoaded: {
        type: Boolean,
        notify: true
      }
    },
    ready: function() {
      this.contentLoaded = false;
      this.$.summonerAjax.generateRequest();
      this.$.summaryAjax.generateRequest();
    },
    handleQuestResponse: function(r) {
      this.quests = r.detail.quests;
    },
    handleSummonerResponse: function(r) {
      var summoner = r.detail;
      this.summoner = summoner;
      this.contentLoaded = true;
      this.$.rankedSelector.focus();
      this.$.rankedSelector.blur();
    },
  });
</script>
