<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-material/paper-material.html">
<link rel="import" href="../bower_components/paper-progress/paper-progress.html">
<link rel="import" href="../bower_components/paper-styles/paper-styles.html">
<link rel="import" href="lq-ajax.html">

<dom-module id="lq-quest">
  <link rel="import" type="css" href="css/lq-quest.css">
  <template>
    <paper-material id="questItem" class="quest" elevation="3">
      <div>
        <span class="questProp">Title:</span>
        <span>{{quest.details.title}}</span>
      </div>
      <div>
        <span class="questProp">Description:</span>
        <span>{{quest.details.description}}</span>
      </div>
      <template is="dom-if" if="{{quest.details.champion}}">
        <div>
          <span class="questProp">Champion:</span>
          <span>{{champion.name}}</span>
        </div>
      </template>
      <div>
        <span class="questProp">Points:</span>
        <span>{{quest.details.points}}</span>
      </div>
      <template is="dom-repeat" items="{{objectives}}" as="objective">
        <div>
          <span class="questProp">{{objective.objective}}</span>:
          <span>{{objective.progress}}</span>/<span>{{objective.goal}}</span>
        </div>
      </template>
    </paper-material>
    <lq-ajax id="championAjax" url="/api/getChampion" cache="championStorage" on-response="handleChampionResponse"></lq-ajax>
    <!-- <iron-localstorage name="championStorage" value="{{championStorage}}"></iron-localstorage> -->
  </template>
</dom-module>
<script>
  Polymer({
    is: 'lq-quest',
    properties: {
      quest: {
        type: Object,
        notify: true
      },
      objectives: {
        type: Object,
        notify: true
      },
      champion: {
        type: Object
      },
      splashUrl: {
        type: String,
        computed: 'getSplashUrl(champion.key)',
        readonly: true,
        notify: true
      }
    },
    getSplashUrl: function(key) {
      return 'https://ddragon.leagueoflegends.com/cdn/img/champion/splash/' + key + '_0.jpg'
    },
    handleChampionResponse: function(r) {
      this.champion = r.detail;
      // this.$.questItem.style.background = 'url("' + this.getSplashUrl(this.champion.key) + '") no-repeat left top';
      // this.$.questItem.style.backgroundSize = 'contain';
    },
    ready: function() {
      if (this.quest.details.champion !== null && this.quest.details.champion !== undefined) {
        this.$.championAjax.body = {
          champion: this.quest.details.champion
        };
        this.$.championAjax.generateRequest();
      }
      var objectives = [];
      for (var i = 0; i < this.quest.details.objectives.length; i++) {
        for (var k = 0; k < this.quest.progress.length; k++) {
          if (this.quest.progress[k].objective === this.quest.details.objectives[i].objective) {
            objectives.push({
              objective: getObjectiveString(this.quest.details.objectives[i].objective),
              goal: this.quest.details.objectives[i].value,
              progress: this.quest.progress[k].value
            });
          }
        }
      }
      this.objectives = objectives;
    }
  });

  function getObjectiveString(key) {
    var objectiveStrings = [{
      key: 'wardsPlaced',
      value: 'Wards Placed',
    }, {
      key: 'wardsKilled',
      value: 'Wards Destroyed'
    }, {
      key: 'kills',
      value: 'Kills'
    }, {
      key: 'deaths',
      value: 'Deaths'
    }, {
      key: 'tripleKills',
      value: 'Triple Kills'
    }, {
      key: 'quadraKills',
      value: 'Quadra Kills'
    }, {
      key: 'pentaKills',
      value: 'Penta Kills'
    }, {
      key: 'neutralMinionsKilledEnemyJungle',
      value: 'Enemy jungle minions killed'
    }, {
      key: 'neutralMinionsKilled',
      value: 'Jungle minions killed'
    }, {
      key: 'healingDone',
      value: 'Healing'
    }, {
      key: 'damageTaken',
      value: 'Damage Taken'
    }, {
      key: 'doubleKills',
      value: 'Double Kills'
    }, {
      key: 'numGames',
      value: 'Number of Games'
    }];
    for (var i = 0; i < objectiveStrings.length; i++) {
      if (objectiveStrings[i].key === key) {
        return objectiveStrings[i].value;
      }
    }
    return key;
  }
</script>
