<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-material/paper-material.html">
<link rel="import" href="../bower_components/paper-progress/paper-progress.html">
<link rel="import" href="../bower_components/paper-styles/paper-styles.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="summoner-champion.html">
<link rel="import" href="lq-ajax.html">

<dom-module id="summoner-champions">
  <link rel="import" type="css" href="css/summoner-champions.css">
  <template>
    <template is="dom-if" if="{{championsLoaded}}">
      <paper-material id="champions" class="champions" elevation="3">
        <template is="dom-repeat" items="{{champions}}">
          <summoner-champion champion="{{item}}"></summoner-champion>
        </template>
      </paper-material>
    </template>
    <template is="dom-if" if="{{!contentLoaded}}">
      <paper-progress indeterminate alue="800" min="100" max="1000" class="blue" value="100"></paper-progress>
    </template>
    <lq-ajax id="championsAjax" url="/api/getChampions" cache="championStorage" on-response="handleChampionsResponse"></lq-ajax>
    <iron-localstorage name="championStorage" value="{{championStorage}}"></iron-localstorage>
    <iron-localstorage name="versionStorage" value="{{version}}"></iron-localstorage>
  </template>
</dom-module>
<script>
  Polymer({
    is: 'summoner-champions',
    properties: {
      champions: {
        type: Array
      },
      championData: {
        type: Object
      },
      ranked: {
        type: Object,
        notify: true,
        observer: '_rankedChanged'
      },
      splashUrl: {
        type: String,
        computed: 'getSplashUrl(champion.key)',
        readonly: true,
        notify: true
      },
      championsLoaded: {
        type: Boolean,
        notify: true,
        default: false
      },
      version: {
        type: String,
        notify: true,
        default: '5.23.1'
      }
    },
    getSplashUrl: function(key) {
      return 'https://ddragon.leagueoflegends.com/cdn/img/champion/splash/' + key + '_0.jpg'
    },
    handleChampionsResponse: function(r) {
      // this.champions = r.detail;
      this.set('championData', r.detail.data);
      this.set('version', r.detail.version);
      this.mergeChampionData();
    },
    _rankedChanged: function(newRanked, oldRanked) {
      this.set('ranked', newRanked);
      this.mergeChampionData();
    },
    mergeChampionData: function() {
      if (typeof(this.championData) !== 'undefined' && typeof(this.ranked) !== 'undefined' && this.ranked !== null && this.champions !== null) {
        var champions = [];
        for (var i in this.championData) {
          if (this.championData.hasOwnProperty(i)) {
            var champion = this.championData[i];
            for (var j = 0; j < this.ranked.champions.length; j++) {
              if (this.ranked.champions[j].id == champion.id) {
                champions.push({
                  data: this.ranked.champions[j],
                  key: champion.key,
                  name: champion.name,
                  title: champion.title,
                  imgURL: "https://ddragon.leagueoflegends.com/cdn/" + this.version + "/img/champion/" + champion.key + ".png"
                });
              }
            }
          }
        }
        this.set('championsLoaded', true);
        this.set('champions', champions);
      }

    },
    ready: function() {
      this.$.championsAjax.generateRequest();
    }
  });
</script>
