<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="lq-ajax.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../bower_components/paper-material/paper-material.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="stylesheet" href="css/summoner-summary.css">

<dom-module id="summoner-summary">
  <template>
    <paper-material id="container" elevation="2">
      <div id="summonerPanel">
        <img id="profileIcon" src="{{summonerUrl}}" width="64px" height="64px"/>
        <div id="profileData">
          <div>Level <span>{{summoner.summonerLevel}}</span></div>
          <div id="summonerName">{{summoner.name}}</div>
        </div>
        <paper-material id="summonerStats" elevation="1">
          <div>
            Wins: <span>{{rankedSummary.wins}}</span>
          </div>
          <div>
            Loses: <span>{{rankedSummary.losses}}</span>
          </div>
        </paper-material>
      </div>
    </paper-material>
    <paper-material>
      <paper-radio-group id="rankedSelector" selected="ranked" on-paper-radio-group-changed="rankedSelectorChanged">
        <paper-radio-button name="ranked" label="Ranked">Ranked</paper-radio-button>
        <paper-radio-button name="unranked" label="Unranked">Unranked</paper-radio-button>
      </paper-radio-group>
    </paper-material>
    <lq-ajax id="summonerAjax" url="/api/getSummoner" cache="summonerStorage" on-response="handleSummonerResponse"></lq-ajax>
    <lq-ajax id="summaryAjax" url="/api/getPlayerSummary" cache="summaryStorage" on-response="handleSummaryResponse"></lq-ajax>
    <iron-localstorage name="matchHistoryStorage" value="matchHistory"></iron-localstorage>
    <iron-localstorage name="summaryStorage" value="{{summary}}"></iron-localstorage>
    <iron-localstorage name="summonerStorage" value="{{summoner}}"></iron-localstorage>
  </template>
</dom-module>

<script>
Polymer({
  is: 'summoner-summary',
  properties: {
    summoner: {
      type: Object,
      notify: true
    },
    matchHistory: {
      type: Object,
      notify: true
    },
    unrankedSummary: {
      type: Object,
      notify: true
    },
    summary: {
      type: Object
    },
    rankedSummary: {
      type: Object,
      notify: true
    },
    summonerUrl: {
      type: String,
      readonly: false,
      notify: true,
      computed: 'computeSummonerUrl(summoner.profileIconId)'
    }
  },
  computeSummonerUrl: function(key) {
    return "http://ddragon.leagueoflegends.com/cdn/5.2.1/img/profileicon/" + key + ".png";
  },
  ready: function() {
    console.log(this.$.summonerAjax);
    //if(typeof summoner === "undefined" || isExpired(this.summoner))
    this.$.summonerAjax.generateRequest();
    //if(typeof summary === "undefined" || isExpired(this.summary))
    this.$.summaryAjax.generateRequest();
  },
  handleResponse: function(r) {
    console.log(r.detail.response);
  },
  rankedSelectorChanged: function(r) {
    console.log(r.srcElement.selected);
  },
  handleSummaryResponse: function(r) {
    var summary = r.detail;
    for(var i = 0; i < summary.playerStatSummaries.length; i++) {
      if(summary.playerStatSummaries[i].playerStatSummaryType === 'Unranked') {
        console.log(summary.playerStatSummaries[i].aggregatedStats);
        this.unrankedSummary = summary.playerStatSummaries[i];
      }
      else if (summary.playerStatSummaries[i].playerStatSummaryType === 'RankedSolo5x5') {
        console.log(summary.playerStatSummaries[i].aggregatedStats);
        this.rankedSummary = summary.playerStatSummaries[i];
      }
    }
    this.summary = summary;
  },
  handleSummonerResponse: function(r) {
    var summoner = r.detail;
    console.log(summoner);
    this.summoner = summoner;
  },
  handleMatchHistoryResponse: function(r) {
    console.log(r.detail.response);
  },
});
</script>
