<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="lq-ajax.html">
<link rel="import" href="summoner-champions.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../bower_components/paper-material/paper-material.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/paper-progress/paper-progress.html">
<link rel="import" href="../bower_components/paper-styles/paper-styles.html">

<dom-module id="summoner-summary">
  <link rel="import" type="css" href="css/summoner-summary.css">
  <template>
    <template is="dom-if" if="{{contentLoaded}}">
      <paper-material class="container" elevation="1">
        <div id="summonerPanel">
          <img id="profileIcon" src="{{summonerUrl}}" width="64px" height="64px" />
          <div id="profileData">
            <div>Level
              <span>{{summoner.summonerLevel}}</span>
            </div>
            <div id="summonerName">{{summoner.name}}</div>
          </div>
          <paper-material class="summonerStats" elevation="1">
            <template is="dom-if" if="{{rankedChecked}}">
              <div>
                Wins:
                <span>{{rankedSummary.wins}}</span>
              </div>
              <div>
                Loses:
                <span>{{rankedSummary.losses}}</span>
              </div>
            </template>
            <template is="dom-if" if="{{!rankedChecked}}">
              <div>
                Wins:
                <span>{{unrankedSummary.wins}}</span>
              </div>
            </template>
          </paper-material>
        </div>
      </paper-material>
    </template>
    <template is="dom-if" if="{{!contentLoaded}}">
      <paper-progress indeterminate alue="800" min="100" max="1000" class="blue" value="100"></paper-progress>
    </template>
    <paper-material class="rankedBar" elevation="3">
      <paper-radio-group id="rankedSelector" selected="ranked" on-paper-radio-group-changed="rankedSelectorChanged">
        <paper-radio-button id="rbRanked" name="ranked" toggles="false" label="Ranked">Ranked</paper-radio-button>
        <paper-radio-button id="rbUnranked" name="unranked" toggles="false" label="Unranked">Unranked</paper-radio-button>
      </paper-radio-group>
    </paper-material>

    <template is="dom-if" if="{{contentLoaded}}">
      <!-- <paper-material class="rankedChampions" elevation="1"> -->
      <summoner-champions ranked="{{ranked}}"></summoner-champions>
      <!-- </paper-material> -->
    </template>
    <lq-ajax id="summonerAjax" url="/api/getSummoner" cache="summonerStorage" on-response="handleSummonerResponse"></lq-ajax>
    <lq-ajax id="summaryAjax" url="/api/getPlayerSummary" cache="summaryStorage" on-response="handleSummaryResponse"></lq-ajax>
    <lq-ajax id="rankedAjax" url="/api/getSummonerStats" cache="rankedStorage" on-response="handleRankedResponse"></lq-ajax>
    <lq-ajax id="versionAjax" url="/api/getVersion" cache="versionStorage" on-response="handleVersionResponse"></lq-ajax>
    <iron-localstorage name="matchHistoryStorage" value="matchHistory"></iron-localstorage>
    <iron-localstorage name="summaryStorage" value="{{summary}}"></iron-localstorage>
    <iron-localstorage name="versionStorage" value="{{version}}"></iron-localstorage>
    <iron-localstorage name="summonerStorage" value="{{summoner}}"></iron-localstorage>
    <iron-localstorage name="rankedStorage" value="{{ranked}}"></iron-localstorage>
  </template>
</dom-module>
<script>
  Polymer({
    is: 'summoner-summary',
    properties: {
      summoner: {
        type: Object,
        notify: true
      },
      matchHistory: {
        type: Object,
        notify: true
      },
      unrankedSummary: {
        type: Object,
        notify: true
      },
      summary: {
        type: Object
      },
      rankedSummary: {
        type: Object,
        notify: true
      },
      ranked: {
        type: Object,
        notify: true
      },
      version: {
        type: Object,
        notify: true
      },
      summonerUrl: {
        type: String,
        readonly: false,
        notify: true,
        computed: '_computeSummonerUrl(summoner.profileIconId)'
      },
      contentLoaded: {
        type: Boolean,
        notify: true
      },
      rankedChecked: {
        type: Boolean,
        notify: true,
        value: true
      }
    },
    _computeSummonerUrl: function(key) {
      return "https://ddragon.leagueoflegends.com/cdn/5.2.1/img/profileicon/" + key + ".png";
    },
    ready: function() {
      this.contentLoaded = false;
      this.$.summonerAjax.generateRequest();
      this.$.summaryAjax.generateRequest();
      this.$.rankedAjax.generateRequest();
      this.$.versionAjax.generateRequest();
    },
    rankedSelectorChanged: function(r) {
      if (r.srcElement.selected === 'unranked') {
        this.rankedChecked = false;
      } else {
        this.rankedChecked = true;
      }
    },
    handleSummaryResponse: function(r) {
      var summary = r.detail;
      console.log(summary);
      for (var i = 0; i < summary.playerStatSummaries.length; i++) {
        if (summary.playerStatSummaries[i].playerStatSummaryType ===
          'Unranked') {
          this.unrankedSummary = summary.playerStatSummaries[i];
        } else if (summary.playerStatSummaries[i].playerStatSummaryType ===
          'RankedSolo5x5') {
          this.rankedSummary = summary.playerStatSummaries[i];
        }
      }
      this.summary = summary;
    },
    handleRankedResponse: function(r) {
      this.ranked = r.detail;
    },
    handleVersionResponse: function(r) {
      this.set('version', r.detail);
      console.log(this.version);
    },
    handleSummonerResponse: function(r) {
      var summoner = r.detail;
      this.summoner = summoner;
      this.contentLoaded = true;
      this.$.rankedSelector.focus();
      this.$.rankedSelector.blur();
    },
    handleMatchHistoryResponse: function(r) {
      console.log(r.detail.response);
    },
  });
</script>
